body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.375rem;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: blue;
}

hr {
  border-style: dotted;
  border-width: 10px;
  border-color: #584b42;
  border-bottom: none;
  width: 7%;
  margin: 100px auto 100px auto;
}

p {
  line-height: 2;
}

.topContainer {
  background-color: #d2fafb;
  position: relative;
  padding-top: 50px;
  line-height: 2;
}

.middle-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #d2fafb;
  padding-top: 50px;
  padding-bottom: 20px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom_cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.profileImage {
  border-radius: 50%;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}

.fontWeight {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.web {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.read {
  width: 25%;
  float: right;
  margin-left: 50px;
}

.contact-description {
  margin-bottom: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
